.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Proxima Nova", Arial;
  color: "#414042"
}

.reveal h1 {
  font-weight: lighter;
  font-size: 44px;
}

.reveal h2 {
  font-weight: lighter;
  font-size: 40px;
}

.reveal p {
  margin-top: 50px;
  font-weight: lighter;
  font-size: 28px;
}


.quarto-title-authors {
  font-size: 28px;
}
.slides {
  border-bottom: #00808b 20px solid;
  background-image: url(../img/logo.svg),  url(../img/footer.png);
  background-size: 40%, 100%;
  background-repeat: no-repeat;
  background-position: 120% -230%, bottom;
}
