on:
  push:
    branches: [main]
  release:
    types: [published]
  workflow_dispatch: {}

name: demo-website

jobs:
  demo-page:
    runs-on: ubuntu-latest

    # Restrict concurrent publishes per ref
    concurrency:
      group: quarto-publish-${{ github.ref }}

    permissions:
      contents: write

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # recommended for versioned sites / changelogs

      # Quarto's knitr engine needs R available
      - name: Setup R
        uses: r-lib/actions/setup-r@v2

      - name: Setup R dependencies for Quarto's knitr engine
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            any::knitr
            any::rmarkdown
            any::downlit
            any::xml2
            any::ggplot2

      # Install ms-corefonts for Arial (Proxima Nova not available on runners)
      - name: Install ms-corefonts
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo apt-get update
          echo ttf-mscorefonts-installer msttcorefonts/accepted-mscorefonts-eula select true | sudo debconf-set-selections
          sudo apt-get install -y ttf-mscorefonts-installer

      - name: Update font cache
        run: sudo fc-cache -fv
